<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <sessionState mode="InProc" timeout="20" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Test.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>